#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.title {
  color: grey;
}

.option-group > li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid grey;
}

.option-subgroup {
  margin-left: 20px;
}

.option-subgroup li:last-child {
  border: none;
}

.user-options {
  border: 1px solid grey;
  padding: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
